<%=render :partial=>"errors_show",:locals=>{:user=>@user}%> 
<%=form_for :user do |form|%>
<fieldset>
	<legend><%=@title%></legend>
	<div class="form_row">
		<label form="email">Email:</label>
		<%=form.text_field :email,:size=>User::EMAIL_SIZE,:maxlength=>User::EMAIL_MAX_LENGTH %>
	</div>	
	<!--
	<div class="form_row">
		<label form="current_password">Current Password:</label>
		<%=form.password_field :current_password,:size=>User::PASSWORD_SIZE,:maxlength=>User::PASSWORD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label form="password">Password:</label>
		<%=form.password_field :password,:size=>User::PASSWORD_SIZE,:maxlength=>User::PASSWORD_MAX_LENGTH %>
	</div>
	<div class="form_row">
		<label form="password_confirmation">Confirm:</label>
		<%=form.password_field :password_confirmation,:size=>User::PASSWORD_SIZE,:maxlength=>User::PASSWORD_MAX_LENGTH %>
	</div>
	-->
	<!-- 使用partials后的简洁版 -->
	<%=render :partial=>"password_field",
						:locals=>{:form=>form,:field=>"current_password"}%>
	<%=render :partial=>"password_field",
						:locals=>{:form=>form,:field=>"password"}%>
	<%=render :partial=>"password_field",
						:locals=>{:form=>form,:field=>"password_confirmation",:field_title=>"Confirm"}%>
	<div class ="form_row">
		<%= submit_tag "Update",:class=>"submit"%>
	</div>
</fieldset>
<%end%>
