<p id="notice"><%= notice %></p>

<p>
  <b>Blog:</b>
  <%= @post.blog_id %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<%= link_to 'Edit', edit_blog_post_path(@post) %> |
<%= link_to 'Back', blog_posts_path %>
