<h1>Profile show</h1>
<p><%=@user.screen_name%>的空间</p>
<div id="userhub">
	<div id ="userleftinfo">
		<h2>
			<span>Faq</span>			
		</h2>
		<ul>
			<%= render :partial=>'faq/sidebar_box',:collection=>Faq::FAVORITES %>
		</ul>
		<h2>
			<span>头像</span>
		</h2>
		<ul>
			<%=render :partial=>'avatar/sidebar_box'%>
		</ul>
	</div>
	<div id="userrightinfo">
		<h2>
		<%=h @spec.full_name.or_else("Your Name")%>
		</h2>
		<hr noshade />
		Profile URL:<%=link_to profile_for(@user), profile_for(@user) %>
		<hr noshade />
		My Bio:
		<div id= "bio" class="faq_answer">
			<%= sanitize @faq.bio %>
		</div>
</div>
</div>
